@import "tailwindcss";

:root {
  --gray: #232323;
  --color-black: #0F0F0F;
  --background-color: #0F0F0F;
  --color-white: #EBEBEB;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
